/* Skills section styles */
#skills {
    padding: 20px;
    margin: 20px 0;
    background: #222;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skills h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ecb709;
    width: 100%;
}

.skills-container {
    display: flex;
    width: flex;
   padding-right: 10px;;
}

.skills-list {
    flex: auto;
    padding: 10;
    margin: 10px 10px;
    background: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    
}

.skills-list h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-style: italic;
    text-align: center;
    color: #fff;
}

.skills-list ul {
    list-style-type: circle;
    padding: 5px;
    position: relative;
    
}

.skills-list li {
    font-size: 16px;
    line-height: 1.5;
    color: #ddd;
    margin-bottom: 5px;
    
}